.header {
	position: fixed;
	left: 0;
	right: 0;
	border-bottom: 1px solid #7e7e7e;
	z-index: 100;
	transition: background-color 0.5s;

	&--scroll {
		background-color: $black-color;
	}

	&__inner {
		padding: 20px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: padding 0.5s;

		&--padding {
			padding: 10px 0;
		}
	}
}

.logo__img {
	width: 79px;
	height: 75px;
	object-fit: cover;
}

.menu {
	&__list {
		display: flex;

		@include r($lg) {
			display: block;
			position: absolute;
			top: 115px;
			right: 0;
			left: 0;
			opacity: 0.95;
			padding-top: 30px;
			background-color: $black-color;
			text-align: center;
			height: 100vh;
			transform: translateX(200%);
			transition: transform 0.5s;
		}

		&--active {
			@include r($lg) {
				transform: translateX(0%);
				top: 95px;
			}
		}
	}

	&__item {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		@include r($lg) {
			margin-right: 0;
			padding: 20px 10px;
		}
	}

	&__link {
		padding: 0 10px 40px;
		border-bottom: 5px solid transparent;
		font-family: "SourceSansPro";
		font-weight: 400;
		font-size: 20px;
		color: $header-color;
		transition: border-color 0.7s;

		&:hover {
			border-bottom: 5px solid $accent-color;
		}

		&--padding {
			padding: 0 10px 30px;
		}
	}
}

.burger {
	@include r($lg) {
		width: 50px;
		background-color: transparent;

		// &--active {
		// 	& .burger__line {
		// 		transform: scale(0);

		// 		&:first-child {
		// 			transform: rotate(-45deg);
		// 			top: calc(50% - 1px);
		// 		}

		// 		&:last-child {
		// 			transform: rotate(45deg);
		// 			bottom: calc(50% - 1px);
		// 		}
		// 	}
		// }
	}

	&__line {
		@include r($lg) {
			display: block;
			height: 5px;
			margin-bottom: 10px;
			background-color: $default-color;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.social {
	display: flex;
	align-items: center;

	@include r($sm) {
		display: none;
	}

	&__item {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		path {
			transition: fill 0.5s;
		}
		&:hover {
			path {
				fill: #11749e;
			}
		}
	}
}
