.services {
	padding: 100px 0;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	@include r($lg) {
		padding: 0 0 50px 0;
	}

	@include r($sm) {
		padding: 40px 0 50px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		padding-top: 120px;
		width: 600px;

		@include r($sm) {
			padding-top: 60px;
		}
	}

	&__title {
		margin-bottom: 30px;
		font-size: 25px;
		line-height: 36 / 25 * 100%;
		text-transform: uppercase;
	}

	&__text {
		margin-bottom: 55px;
	}

	&__item {
		margin-bottom: 25px;
		padding: 10px 10px 10px 20px;
		font-weight: 500;
		text-transform: uppercase;
		width: 370px;
		background-color: $accent-color;

		&:last-child {
			margin-bottom: 0;
		}

		@include r($sm) {
			width: 100%;
		}

		&--medium {
			width: 400px;

			@include r($sm) {
				width: 100%;
			}
		}

		&--big {
			width: 430px;

			@include r($sm) {
				width: 100%;
			}

			@include r($sm) {
				width: 100%;
			}
		}
	}

	&__img-box {
		width: 315px;
		height: 650px;
		object-fit: cover;

		@include r($lg) {
			display: none;
		}
	}

	&__img {
		width: 315px;
	}
}
