body {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 15px;
	line-height: 24 / 15 * 100%;
	color: $default-color;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-weight: 500;
	font-size: 38px;
	line-height: 46 / 36 * 100%;
	text-transform: uppercase;
	text-align: center;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		font-family: "Roboto";
		font-weight: 700;
		font-size: 248px;
		opacity: 0.18;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
